$primaryColor: #012b5b;
$secondaryColor: #cde2f1;
$thirdlyColor: #e98f18;

$colorWhite: #fff;
$primaryBorderColor: #707070;

$dengerColor: #ed1d25;
$sucessColor: #0c7e06;

$placeholderText: rgba($primaryColor,0.5);
