.header {
    margin-top: 0;
    height: 110px;
    border-bottom: 1px solid black;
}

.main-nav {
    //display: flex;
    //justify-content: space-between;
    margin-top: 0;

    &__navigation {
        align-items: flex-end;
        margin-top: 0;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        display: inline-block;
        padding-left: 1rem;
        padding-right: 1rem;
        //font-size: 1.6rem;

        & + & {
            margin-top: 0;
        }

        .active {
            color: $thirdlyColor;
        }
    }

    &__link {
        display: inline-block;
    }
}

.main-nav__section {
    display: flex;
    align-items: flex-end;
    position: relative;

    &--right {
        margin-left: auto;
    }
}
