.btn {
    padding: 12px 45px;
    font-size: 14px;

    &--primary {
        background-color: $thirdlyColor;
        color: $primaryColor;
    }

    &--secondary {
        &-white {
            background-color: transparent;
            color: $colorWhite;
            border-color: $colorWhite;
        }

        &-dark {
            background-color: transparent;
            color: $primaryColor;
            border-color: $primaryColor;
        }
    }
}

#wrapper {
    padding-top: 0;
}