{% if not(title) %}
    {% set title = "Default title" %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# {% block title %} {% endblock title %} #}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/libs/clay.css"> 
    {#<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/clay/lib/css/atlas.css"> #}

    <link rel="stylesheet" href="css/libs/main.css">
    <link rel="stylesheet" href="css/libs/bootstrap-select.css">
    {% block styles %} {% endblock styles %}
    
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs.js"></script>
    <script src="js/main.js"></script>


</head>

<body>

    <div class="cims" id="wrapper">

        {% include "partials/header.njk" %}

        <main>
            <div class="container-fluid">

                {% include "partials/messages.njk" %}

            </div>
        </main>

        {% include "partials/footer.njk" %}
    </div>


    


    <!-- SCRIPTS -->
    {% block scripts %} {% endblock scripts %}

</body>
</html>