.filters-panel {
    width: 600px;
    position: fixed;
    top: 110px;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: $secondaryColor;
    background-color: #eff3f6;
    box-shadow: 1px 0 20px #33333342;

    transform: translateX(-600px);
    transition: transform 0.4s;

    &__btn {
        position: fixed;
        top: 0;
        left: 600px;
        bottom: 0;
        width: 70px;
        //background-color: red;
        z-index: 100;
        cursor: pointer;
        background-color: $primaryColor;
        transition: background-color 200ms linear;

        &:hover {
            background-color: lighten($primaryColor,2%);
        }

        span {
            font-size: 14px;
            width: 40px;
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            color: $colorWhite;

            &::after {
                content: '\f105';
                font-family: FontAwesome;
                display: inline-block;
                position: absolute;
                right: -18px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 2rem;
                font-weight: bold;
                color: $thirdlyColor;
            }
        }
    }

    &__body {
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
    }

    &--open {
        transform: translateX(0);

        .filters-panel__btn {
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
            bottom: 0;
            width: 30px;
            background-color: transparent;

            &:hover {
                background-color: #dce2e8;
            }

            span {
                font-size: 0;

                &::after {
                    content: "\f104";
                    right: 30px;
                }
            }
        }
    }

    &--open + .messages-container {
        padding-left: 570px;
    }
}

.filters-group {
    @include padding(10px, null, 10px, null);
}

.panel {
    background-color: transparent;

    // &__title {
    //     color: $primaryColor;
    //     border-bottom: 1px solid $primaryColor;
    //     display: block;
    //     font-size: 1rem;
    //     padding-bottom: 0.35rem;
    //     padding-top: 0.35rem;
    //     position: relative;
    //     word-wrap: break-word;
    // }
}

.messages-container {
    padding-left: 70px;
    transition: all 0.4s;
}

.sheet-subtitle {
    color: $primaryColor;
    display: block;
    font-size: 14px;
    padding-bottom: 0.35rem;
    padding-top: 0.35rem;
    text-transform: none;
    border: none;
    margin-bottom: 0;

    &.collapsed {
        border-bottom: 1px solid $primaryColor;
    }
}

.category {
    padding-top: 10px;
    padding-bottom: 10px;

    &__list {
        padding-top: 20px;
        padding-bottom: 20px;

        & + & {
            border-top: 1px solid gray;
        }
    }

    &__item {

        & + & {
            margin-top: 0.8rem;
        }
    }

    &__name {
        text-align: left;
        color: #747474;

        &::before {
            content: "\f105";
            font-family: FontAwesome;
            margin-right: 5px;
            color: $primaryColor;
        }
    }

    &__classification {
        display: inline-block;
        margin-right: 7px;

        label {
            height: 15px;
            width: 13px;
            border-radius: 50%;
            display: inline-block;
            margin: 0;
        }

        &--positive {
            label {
                background: url(../images/test1.png), transparent;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }

            & input:checked ~ label {
                background: url(../images/test1.png), #d0e9fa;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }
        }

        &--neutral {
            label {
                background: url(../images/test2.png), transparent;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }

            & input:checked ~ label {
                background: url(../images/test2.png), #d0e9fa;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }
        }

        &--negative {
            label {
                background: url(../images/test3.png), transparent;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }

            & input:checked ~ label {
                background: url(../images/test3.png), #d0e9fa;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }
        }

        input {
            display: none;
        }
    }

    &__value {
        
        .subtitle {
            position: absolute;
            top: 8px;
            left: -21px;
        }
    }
}

.category-wrapper {
    margin-left: -30px;
    padding-left: 30px;
    padding-right: 15px;
    background-color: $colorWhite;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.subtitle {
    font-size: 14px;
    color: #707070;
}

.messages-list {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.panel-close {
    position: absolute;
    right: 0;
    top: 50%;

    width: 20px;
    text-align: center;
    font-size: 2rem;
}

.messages-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.filters-btn {
    position: fixed
}

.form-group + .panel, .panel + .form-group {
    margin-top: 1.6rem;
}

.dropdown-toggle::after {
    content: "\f107";
    font-family: FontAwesome;
    font-weight: bold;
}

.bootstrap-select > .dropdown-toggle {
    padding: 0.375rem 0.75rem;
    width: 100%;
    background-color: transparent;
    border: 1px solid $borderColor;
}

.delete-category {
    display: inline-block;
}
