*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.cims * + * {
    //margin-top: 1rem;
}

.cims {
    display: flex;
    flex-direction: column;
    height: 100vh;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

main {
    flex: 1 1 0;
}

div[class^="col-"] {
    margin-top: 0;
}

html {
    //font-size: 62.5%; //1rem = 10px, 10px/16px =62.5%
}

body {
    box-sizing: border-box;
    background-color: $colorWhite;
}

dl,
ol,
ul {
    margin-top: 1rem;
    margin-bottom: 0;
}

a {
    color: $primaryColor;
}

@media (min-width: 1680px) {
    .container {
        max-width: 1600px;
    }
}