<div class="portlet-body">
    <div class="messages-panel messages-panel--open">
        <div>
            <form>
                <div class="form-group row">
                    <div class="col-7">
                        <input class="search" type="search">
                    </div>
                    <div class="col-5">
                        <button class="btn btn--primary">Extended search</button>
                    </div>
                </div>
            </form>

            <div class="panel">
                <div class="tag-cloud">
                <div class="panel-header">
                    <a role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" class="trigger collapsed">
                        <p class="panel-header__title">Hide latest terms</p>
                        <span class="collapse-icon"><i class="fa fa-chevron-down"></i></span>
                    </a>
                </div>
                <div class="panel-body collaps">
                    <div class="category">
                        <div class="form-group row">
                            <button class="btn btn--secondary">Add Category</button>
                            <div class="tooltip" data-direction="bottom">
                                <div class="tooltip__initiator">
                                    <i class="fa fa-camera-retro fa-lg"></i>
                                </div>
                                <div class="tooltip__item">Hello! I'm a pure css tooltip</div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-header">
                    <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="panel-header__link trigger collapsed">
                        <p class="panel-header__title">Select Category</p>
                        <span class="collapse-icon"><i class="fa fa-chevron-down"></i></span>
                    </a>
                </div>
                <div class="panel-body collaps">
                    <div class="category">
                        <div class="form-group row">
                            <button class="btn btn--secondary">Add Category</button>
                            <div class="tooltip" data-direction="bottom">
                                <div class="tooltip__initiator">
                                    <i class="fa fa-camera-retro fa-lg"></i>
                                </div>
                                <div class="tooltip__item">Hello! I'm a pure css tooltip</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="messages-list">
        <div class="pagination-bar">
            <div class="dropdown pagination-items-per-page">
                <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#1" role="button">
                    10 entries
                    <svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-double-l">
                        <use href="/images/icons/icons.svg#caret-double-l" />
                    </svg>
                </a>
                <div class="dropdown-menu dropdown-menu-top">
                    <a class="dropdown-item" href="#1">5</a>
                    <a class="dropdown-item" href="#1">10</a>
                    <a class="dropdown-item" href="#1">20</a>
                    <a class="dropdown-item" href="#1">30</a>
                    <a class="dropdown-item" href="#1">50</a>
                </div>
            </div>
            <div class="pagination-results">Showing 1 to 20 of 203 entries.</div>
            <ul class="pagination">
                <li class="disabled page-item">
                    <a class="page-link" href="#1" role="button">
                        <svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-left">
                            <use href="/images/icons/icons.svg#angle-left" />
                        </svg>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="active page-item"><a class="page-link" href="#1">1</a></li>
                <li class="page-item"><a class="page-link" href="#1">2</a></li>
                <li class="dropdown page-item">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle page-link" data-toggle="dropdown" href="#1" role="button">...</a>
                    <div class="dropdown-menu dropdown-menu-top-center">
                        <div class="inline-scroller">
                            <a class="dropdown-item" href="#1">3</a>
                            <a class="dropdown-item" href="#1">4</a>
                            <a class="dropdown-item" href="#1">5</a>
                            <a class="dropdown-item" href="#1">6</a>
                            <a class="dropdown-item" href="#1">7</a>
                            <a class="dropdown-item" href="#1">8</a>
                            <a class="dropdown-item" href="#1">9</a>
                            <a class="dropdown-item" href="#1">10</a>
                            <a class="dropdown-item" href="#1">11</a>
                            <a class="dropdown-item" href="#1">12</a>
                            <a class="dropdown-item" href="#1">13</a>
                            <a class="dropdown-item" href="#1">14</a>
                            <a class="dropdown-item" href="#1">15</a>
                        </div>
                    </div>
                </li>
                <li class="page-item"><a class="page-link" href="#1">16</a></li>
                <li class="page-item">
                    <a class="page-link" href="#1" role="button">
                        <svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-right">
                            <use href="/images/icons/icons.svg#angle-right" />
                        </svg>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>